*{
    margin: 0;
    padding: 0;
    line-height: normal;
}
header{
    margin: 20px;
    text-align: center;
}
.centrar{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tipo-documento{
    display: flex;
    flex-direction: row;
}